
default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

local: &local
  host: localhost
  username: postgres
  password: password

development:
  <<: *default
  <<: *local
  database: fanfic_development

test:
  <<: *default
  <<: *local
  database: fanfic_test

production:
  <<: *default
  database: fanfic_production
  username: fanfic
  password: <%= ENV['GENERIC-API_DATABASE_PASSWORD'] %>
